@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');
nav a
  box-sizing:border-box;
  margin:0;
  padding:0;
  max-width:100%;
  border-radius: 20px;
  }
  /*general styles*/
  html{
    font-size:62.5%;
  }
  body{
    font-size:1.6rem;
    line-height:1.5; 
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Sans JP', sans-serif;
  }
  a{
    text-decoration:none;
    letter-spacing:3px;
  }
  section{
    padding:4% 0;
  }
  
  
  